.header {
    height: 4vw;

    display: flex;
    flex-direction: row;
    justify-content: left;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent);

}

.header:hover {
    cursor: pointer;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-img{
    height: 4vw;
    margin-left: 3vw;
    margin-top: 0.7vw;
}

.primary-navigation{
    display: flex;
    flex-direction: row;
    margin-left: 0.5vw;
    font-size: 1vw;
}

.navigation-tab{
    color: white;
    margin-top: 1.5vw;
    margin-left: 1vw;
    transition: color 0.7s;
}

.navigation-tab:hover {
    color: grey;
    cursor: pointer;
}

.secondary-navigation{
    display: flex;
}

.empty-navigation {
    flex: 1;
}

.bell-icon,
.search-icon {
    height: 2vw;
    margin-top: 1vw;
    margin-right: 1vw;
}

.profile-container{
    display: flex;
    flex-direction: row;

}

.profile-icon {
    margin-top: 1vw;
    margin-right: 1vw;
}

.profile-dropdown{
    margin-top: 1vw;
    margin-right: 1vw;
}

